---
title: "Stone Mountain Spa | Relaxation & Wellness Treatments"
description: "Discover a calming Stone Mountain spa offering yoni steam, Moroccan bath, facials, and hair treatments. Book a personalized wellness session today."
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-998">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-topper">Welcome to</h1>
            <!--Logo-->
            <picture class="cs-logo">
                <source media="(max-width: 600px)" srcset="/assets/images/AlemSPALogoImprov.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/AlemSPALogoImprov.webp">
                <img decoding="async" src="/assets/images/AlemSPALogoImprov.webp" alt="Stitch House Restaurant" width="614" height="166">
            </picture>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            </p>
            <a href="" class="cs-button-solid">Book An Appointment</a>
        </div>
    </div>
    <!--Background Image-->
    <!--Image is also set as background image in CSS at 1400px for parallax effect-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table.jpg" alt="logo" width="1920" height="1000">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1829">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Authentic Wellness Treatments</span>
            <h2 class="cs-title">Our Dermatology & Aesthetic Services</h2>
            <p class="cs-text">
                Aside from seeing patients, Dr. Stitch is dedicated to patient advocacy and education on evidence-based medicine in dermatology, especially for skin of color.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 500, height: 700, position:'bottom'}) | jpeg %}" alt="library" width="500" height="700" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Facial</h3>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | jpeg %}" alt="library" width="500" height="700" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Yoni Steam</h3>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | avif %}" type="image/avif">
                            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | webp %}" type="image/webp">
                            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | jpeg %}" type="image/jpeg">
                            <!--Tablet Image-->
                            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | avif %}" type="image/avif">
                            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | webp %}" type="image/webp">
                            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | jpeg %}" type="image/jpeg">
                            <!--Desktop Image-->
                            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | avif %}" type="image/avif">
                            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | webp %}" type="image/webp">
                            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | jpeg %}" type="image/jpeg">
                            <img src="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 700, position:'right'}) | jpeg %}" alt="library" width="500" height="700" loading="lazy" decoding="async">
                        </picture>
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Hair Butter</h3>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 500, height: 700, position:'left' }) | jpeg %}" alt="library" width="500" height="700" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Moroccan Bath</h3>
                    </div>
                </a>
            </li>

        </ul>
    </div>
    <!-- Background Image, background image added in the css at 768px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg" alt="cream background with ripple" width="1920" height="970" aria-hidden="true">
    </picture>
    <!-- Top left gold graphic -->
    <img class="cs-graphic1" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gold-graphic.svg" alt="gold flake graphic" width="370" height="322" aria-hidden="true">
    <!-- Bottom right gold graphic -->
    <img class="cs-graphic2" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gold-graphic.svg" alt="gold flake graphic" width="370" height="322" aria-hidden="true">
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-677">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | jpeg %}" type="image/jpeg">
                <!--Tablet Image-->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | jpeg %}" type="image/jpeg">
                <!--Desktop Image-->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 562, height: 568, position:'right'}) | jpeg %}" alt="library" width="562" height="568" loading="lazy" decoding="async">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Women Choose Alem Spa</span>
            <h2 class="cs-title">A Personalized Approach To Your <span class="cs-color">Well-Being</span></h2>
            <p class="cs-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus sunt nemo accusamus atque id tempore facere facilis perferendis? Necessitatibus pariatur eligendi corporis cupiditate ipsa consequatur et nam quod fugiat blanditiis. Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p>
            <p class="cs-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus sunt nemo accusamus atque id tempore facere facilis perferendis? Necessitatibus pariatur eligendi corporis cupiditate ipsa consequatur et nam quod fugiat blanditiis.
            </p>
            <div class="cs-contact-group">
                <a class="cs-link" href="tel:555-555-0234">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Call Now</span>
                        <span class="cs-link-content">(555) 555-0234</span>
                    </div>
                </a>
                <a class="cs-link" href="mailto:Info@health&wellness.com">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmail.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Send A Message</span>
                        <span class="cs-link-content">Info@health&wellness.com</span>
                    </div>
                </a>
            </div>
            <a href="" class="cs-button-solid" aria-label="learn more about us">Learn More About Us</a>
        </div>
    </div>
    <!--Zen Leaf Group-->
    <img class="cs-floater" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fzen.png" alt="leaf and bowl" width="292" height="422">
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<!--
<section id="reviews-355">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <p class="cs-item-text">
                    Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.natus error sitvoluptatem accusantium doloremque laudantium.
                </p>
                <picture class="cs-wrapper">
                    <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold.svg" alt="quote" width="20" height="16">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">
                        Britney Allison
                        <span class="cs-desc">Founder Of Yokoloko</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    I have used CleanPro service for about four years. I describe myself very picky and difficult to be pleased. Exceeded my expectations.
                </p>
                <span class="cs-name">Robert Henrich</span>
                <span class="cs-job">CEO, HK Traders</span>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    I have used CleanPro service for about four years. I describe myself very picky and difficult to be pleased. Exceeded my expectations.
                </p>
                <span class="cs-name">Robert Henrich</span>
                <span class="cs-job">CEO, HK Traders</span>
            </li>
        </ul>
    </div>
</section>
-->

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-2248">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Client Love & Experiences</span>
            <h2 class="cs-title">What Our Clients Say</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <p class="cs-item-text">
                    Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.natus error sitvoluptatem accusantium doloremque laudantium.
                </p>
                <picture class="cs-wrapper">
                    <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold.svg" alt="quote" width="20" height="16">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">
                        Britney Allison
                        <span class="cs-desc">Founder Of Yokoloko</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-item-text">
                    Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.natus error sitvoluptatem accusantium doloremque laudantium.
                </p>
                <picture class="cs-wrapper">
                    <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold.svg" alt="quote" width="20" height="16">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">
                        Britney Allison
                        <span class="cs-desc">Founder Of Yokoloko</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-item-text">
                    Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.natus error sitvoluptatem accusantium doloremque laudantium.
                </p>
                <picture class="cs-wrapper">
                    <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold.svg" alt="quote" width="20" height="16">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">
                        Britney Allison
                        <span class="cs-desc">Founder Of Yokoloko</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2179">
    <div class="cs-container">
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 384, height: 509 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 384, height: 509 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 384, height: 509 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 384, height: 509 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 384, height: 509 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 384, height: 509 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 384, height: 509 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 384, height: 509 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 384, height: 509 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 384, height: 509 }) | jpeg %}" alt="library" width="384" height="509" loading="lazy" decoding="async">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">The Women Behind Alem Spa</span>
            <h2 class="cs-title">Capture the Perfect Moments that will Make Memories</h2>
            <p class="cs-text">
                Our expert instructors give you the skills and knowledge to manage process risks and show you how to continuously make your facilities and operations more safe and reliable. PSRG training courses are available online. We have courses on-demand and live instructors for workshops and support.
            </p>
            <p class="cs-text">
                Our expert instructors give you the skills and knowledge to manage process risks and show you how to continuously make your facilities and operations more safe and reliable. PSRG training courses are available online. We have courses on-demand and live instructors for workshops and support.
            </p>
            <a href="" class="cs-button-solid">Explore Services</a>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | jpeg %}" type="image/jpeg">
                <!--Tablet Image-->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | jpeg %}" type="image/jpeg">
                <!--Desktop Image-->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 383, height: 262 }) | jpeg %}" alt="library" width="383" height="262" loading="lazy" decoding="async">

                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding14.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding14.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding14.jpg" alt="wedding" width="383" height="262">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Promotions                   -->
<!-- ============================================ -->

<section id="promotions-1555">
    <div class="cs-container">
        <div class="cs-promotion">
            <div class="cs-flex">
                <!--Limited Offer-->
                    <a href="" class="cs-link">Explore Now</a>
            </div>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | jpeg %}" type="image/jpeg">
                <!--Tablet Image-->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | jpeg %}" type="image/jpeg">
                <!--Desktop Image-->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 800, height: 220 }) | jpeg %}" alt="library" width="800" height="220" loading="eager" decoding="async">

            </picture>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-truck.svg" alt="icon" width="48" height="48">
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Free Delivery</h3>
                    <p class="cs-item-text">
                        Enjoy free delivery on all orders, making shopping seamless and convenient.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-headset.svg" alt="icon" width="48" height="48">
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Online Support</h3>
                    <p class="cs-item-text">
                        Experience 24/7 online support, ensuring all your concerns are addressed promptly.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

{% include 'sections/cta.html' %}
{% endblock %}
