---
title: "Stone Mountain Spa | Relaxation & Wellness Treatments"
description: "Discover a calming Stone Mountain spa offering yoni steam, Moroccan bath, facials, and hair treatments. Book a personalized wellness session today."
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <script defer src="/assets/js/hero.js"></script>
    <script defer src="/assets/js/modal.js"></script>

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}
<div id="cs-modal-1605" style="z-index: -10">
    <div class="cs-wrapper">
        <button id="cs-close-1605" class="cs-close" aria-label="close pop up">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Close.svg" alt="clothing" width="24" height="24" aria-hidden="true">
        </button>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/png/modalmage.png" | resize({ width: 900, height: 1200, position:'center' }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/png/modalmage.png" | resize({ width: 900, height: 1200, position:'center' }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/png/modalmage.png" | resize({ width: 900, height: 1200, position:'center' }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/png/modalmage.png" | resize({ width: 1100, height: 1467, position:'center' }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/png/modalmage.png" | resize({ width: 1100, height: 1467, position:'center' }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/png/modalmage.png" | resize({ width: 1100, height: 1467, position:'center' }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/png/modalmage.png" | resize({ width: 1300, height: 1700, position:'center' }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/png/modalmage.png" | resize({ width: 1300, height: 1700, position:'center' }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/png/modalmage.png" | resize({ width: 1300, height: 1700, position:'center' }) | jpeg %}" type="image/jpeg">
            <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/png/modalmage.png" | resize({ width: 650, height: 850, position:'center' }) | jpeg %}" alt="Traditional wellness ritual with herbal steam" width="650" height="850">
        </picture>
        <div class="cs-content">
            <span class="cs-header">
                Join Our Newsletter Get 20% Off On First Order
            </span>
            <p class="cs-text">
                With designs that spark conversations and evoke the spirit of adventure, empowers you to wear your passion on your sleeve.
            </p>
            <!--If you remove the form because you don't want it, make sure you remove "CSsubmitButton.addEventListener('click', handleClose);" in the JS code. It is adding an event listener on the submit button, if you remove the submit button JS freaks out that its trying to add an event listener to something that isn't there and won't work -->
            <form class="cs-form" name="Contact Form" method="post">
                <input class="cs-input" type="text" id="cs-first-name-1605" name="first-name" placeholder="First Name">
                <input class="cs-input" type="text" id="cs-last-name-1605" name="last-name" placeholder="Last Name">
                <input class="cs-input" type="email" id="cs-email-1605" name="email" placeholder="Email Address">
                <button id="cs-submit-1605" class="cs-button-solid cs-submit" type="submit">Subscribe Now</button>
            </form>
            <div class="cs-social">
                <a href="https://www.facebook.com/share/1UCpHmi5TR/?mibextid=wwXIfr" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="https://www.instagram.com/alem_spa_weyba_tis/?igsh=NnNzZzJlaHN6NnIx" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2042">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Traditional Healing</span>
            <h1 class="cs-title">Holistic Women’s Wellness Spa in Stone Mountain, GA</h1>
            <p class="cs-text">
                Experience Ethiopian and Moroccan wellness rituals that calm the mind, soften the body, and renew your feminine energy.
            </p>

            <!--
            <div class="cs-button-group">
                <a href="" class="cs-button-solid">Book Now</a>
            </div>
            -->
        </div>
        <button class="cs-play" aria-label="click to play video">
            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/play-right.svg" alt="play icon" width="24" height="24" aria-hidden="true" decoding="async">
        </button>
    </div>

    <div class="cs-video-wrapper">
        <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a image instead of a video. Don't forget to remove the cs-play button!-->
        <video loading="lazy" autoplay muted playsinline preload="auto" src="/assets/videos/heroVideo.mp4"></video>
        <!-- <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-image-2.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-image-2.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-image-2.png" alt="body builder" width="630" height="877">
        </picture> -->
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1829">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Authentic Wellness Treatments</span>
            <h2 class="cs-title">Traditional Ethiopian & Moroccan Wellness Services</h2>
            <p class="cs-text">
                Experience a collection of treatments inspired by cultural healing practices, each designed to cleanse, soften, and restore your body with natural ingredients and gentle care.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/services/#facial" class="cs-link service-card-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 1300, height: 1700, position:'bottom'}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/jpg/facialCard.jpg" | resize({ width: 500, height: 700, position:'bottom'}) | jpeg %}" alt="library" width="500" height="700" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Facial</h3>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="/services/#yoni-steam" class="cs-link service-card-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/jpg/yoniSteamCard.jpg" | resize({ width: 500, height: 700, position:'bottom' }) | jpeg %}" alt="library" width="500" height="700" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Yoni Steam</h3>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="/services/#hair-butter" class="cs-link service-card-link">
                    <picture class="cs-picture">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | avif %}" type="image/avif">
                            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | webp %}" type="image/webp">
                            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | jpeg %}" type="image/jpeg">
                            <!--Tablet Image-->
                            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | avif %}" type="image/avif">
                            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | webp %}" type="image/webp">
                            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | jpeg %}" type="image/jpeg">
                            <!--Desktop Image-->
                            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | avif %}" type="image/avif">
                            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | webp %}" type="image/webp">
                            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 580, position:'top'}) | jpeg %}" type="image/jpeg">
                            <img src="{% getUrl "/assets/images/jpg/hairButterCard.jpg" | resize({ width: 500, height: 700, position:'right'}) | jpeg %}" alt="library" width="500" height="700" loading="lazy" decoding="async">
                        </picture>
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Hair Butter</h3>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="/services/#moroccan-bath" class="cs-link service-card-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 1000, height: 1400, position:'left' }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/jpg/moroccanBathCard.jpg" | resize({ width: 500, height: 700, position:'left' }) | jpeg %}" alt="library" width="500" height="700" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Moroccan Bath</h3>
                    </div>
                </a>
            </li>

        </ul>
    </div>
    <!-- Background Image, background image added in the css at 768px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg" alt="cream background with ripple" width="1920" height="970" aria-hidden="true">
    </picture>
    <!-- Top left gold graphic -->
    <img class="cs-graphic1" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gold-graphic.svg" alt="gold flake graphic" width="370" height="322" aria-hidden="true">
    <!-- Bottom right gold graphic -->
    <img class="cs-graphic2" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gold-graphic.svg" alt="gold flake graphic" width="370" height="322" aria-hidden="true">
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-677">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | jpeg %}" type="image/jpeg">
                <!--Tablet Image-->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | jpeg %}" type="image/jpeg">
                <!--Desktop Image-->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 1124, height: 1136, position:'right' }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/jpg/decorativeTable.jpg" | resize({ width: 562, height: 568, position:'right'}) | jpeg %}" alt="library" width="562" height="568" loading="lazy" decoding="async">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Women Choose Alem Spa</span>
            <h2 class="cs-title">A Personalized Approach to Your <span class="cs-color">Feminine Wellness</span></h2>
            <p class="cs-text">
                Every woman arrives with her own needs, may that be a tightness in the shoulders, a heaviness in the mind, a desire to feel renewed.
                At AlemSpa, we take the time to understand those needs with care.
            </p>
            <p class="cs-text">
                Our treatments blend Ethiopian and Moroccan healing traditions with gentle, modern techniques. Each session is created to cleanse, soften, and restore your natural balance using ingredients sourced directly from Ethiopia.
            </p>
            <p class="cs-text">
                This is wellness shaped around you — your comfort, your rhythm, your feminine energy.
            </p>
            <a href="/about/" class="cs-button-solid" aria-label="learn more about us">Learn More About Us</a>
        </div>
    </div>
    <!--Zen Leaf Group-->
    <img class="cs-floater" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fzen.png" alt="leaf and bowl" width="292" height="422">
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<!--
<section id="reviews-355">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <p class="cs-item-text">
                    Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.natus error sitvoluptatem accusantium doloremque laudantium.
                </p>
                <picture class="cs-wrapper">
                    <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold.svg" alt="quote" width="20" height="16">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">
                        Britney Allison
                        <span class="cs-desc">Founder Of Yokoloko</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    I have used CleanPro service for about four years. I describe myself very picky and difficult to be pleased. Exceeded my expectations.
                </p>
                <span class="cs-name">Robert Henrich</span>
                <span class="cs-job">CEO, HK Traders</span>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    I have used CleanPro service for about four years. I describe myself very picky and difficult to be pleased. Exceeded my expectations.
                </p>
                <span class="cs-name">Robert Henrich</span>
                <span class="cs-job">CEO, HK Traders</span>
            </li>
        </ul>
    </div>
</section>
-->

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-2248">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Client Love & Experiences</span>
            <h2 class="cs-title">What Our Clients Say</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <p class="cs-item-text">
                    From the moment I walked into Alem Spa in Stone Mountain, I knew I was in for something special. The space feels warm, intimate, and welcoming — nothing about it is rushed or “cookie cutter.” Alem took her time and was so kind during the process. Very mindful of my entire experience. It genuinely felt like a personalized wellness session, not just an appointment on a schedule.
                </p>
                <p class="cs-item-text">
                    What stood out most to me was the combination of traditional Ethiopian practices with a nurturing, almost motherly level of care. Every step was intentional — from the way my skin was cleansed and treated, to how I was steamed, massaged, and given time to rest. I left feeling lighter, deeply relaxed, and literally glowing. My skin was soft, my body felt detoxed, and my mind felt calmer than it has in a long time.
                </p>
                <picture class="cs-wrapper">
                    <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold.svg" alt="quote" width="20" height="16">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">
                        Morgan Conigland
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-item-text">
                    Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.natus error sitvoluptatem accusantium doloremque laudantium.
                </p>
                <picture class="cs-wrapper">
                    <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold.svg" alt="quote" width="20" height="16">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">
                        Britney Allison
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-item-text">
                    Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.natus error sitvoluptatem accusantium doloremque laudantium.
                </p>
                <picture class="cs-wrapper">
                    <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold.svg" alt="quote" width="20" height="16">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">
                        Britney Allison
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2179">
    <div class="cs-container">
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/meetAlem.jpg" | resize({ width: 384, height: 509 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/meetAlem.jpg" | resize({ width: 384, height: 509 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/meetAlem.jpg" | resize({ width: 384, height: 509 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/meetAlem.jpg" | resize({ width: 384, height: 509 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/meetAlem.jpg" | resize({ width: 384, height: 509 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/meetAlem.jpg" | resize({ width: 384, height: 509 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/meetAlem.jpg" | resize({ width: 384, height: 509 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/meetAlem.jpg" | resize({ width: 384, height: 509 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/meetAlem.jpg" | resize({ width: 384, height: 509 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/jpg/meetAlem.jpg" | resize({ width: 384, height: 509 }) | jpeg %}" alt="library" width="384" height="509" loading="lazy" decoding="async">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">The Women Behind Alem Spa</span>
            <h2 class="cs-title">Alem’s Story — Healing Through Culture, Care, and Tradition</h2>
            <p class="cs-text">
                Alem created this spa to share the traditional healing rituals she grew up with in Ethiopia — practices rooted in warmth, purity, and feminine renewal.
                Her journey began long before AlemSpa existed, shaped by family traditions, cultural wisdom, and a deep desire to help women feel soft, cleansed, and reconnected with their inner peace.
            </p>
            <p class="cs-text">
                With a gentle presence and a devotion to natural wellness, Alem brings authenticity to every treatment, from the Ethiopian Yoni Smoke ceremony to the Moroccan Bath experience.
                Every woman who steps into her care is welcomed with respect, tenderness, and the intention to restore balance to both body and spirit.
            </p>
            <a href="/services/" class="cs-button-solid">Explore Services</a>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | jpeg %}" type="image/jpeg">
                <!--Tablet Image-->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | jpeg %}" type="image/jpeg">
                <!--Desktop Image-->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/waitingRoom.jpg" | resize({ width: 766, height: 524 }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/jpg/alemHeadshot1.jpg" | resize({ width: 383, height: 262 }) | jpeg %}" alt="library" width="383" height="262" loading="lazy" decoding="async">

                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding14.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding14.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding14.jpg" alt="wedding" width="383" height="262">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Promotions                   -->
<!-- ============================================ -->

<section id="promotions-1555">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">SPA GIFT CARDS</span>
            <h2 class="cs-title">Give the Gift of Rest & Renewal</h2>
            <p class="cs-text" style="margin-bottom: clamp(3rem, 6vw, 4rem)">
                Offer someone you love a moment of calm, care, and rejuvenation. AlemSpa gift cards make thoughtful, heartfelt surprises for birthdays, anniversaries, holidays, or simply to say, “You deserve this.”
            </p>
        </div>
    </div>
    <div class="cs-container">
        <div class="cs-promotion">
            <div class="cs-flex">
                <!--Limited Offer-->
                    <a href="/gift-cards/" class="cs-link">Explore Gift Cards</a>
            </div>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | jpeg %}" type="image/jpeg">
                <!--Tablet Image-->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | jpeg %}" type="image/jpeg">
                <!--Desktop Image-->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 440, height: 440 }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/jpg/giftCardHero.jpg" | resize({ width: 800, height: 220 }) | jpeg %}" alt="library" width="800" height="220" loading="eager" decoding="async">

            </picture>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/gift-card-svgrepo-com.svg" alt="icon" width="48" height="48">
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">A Gift of Wellness</h3>
                    <p class="cs-item-text">
                        Share a soothing moment of rest and renewal with someone you love. Our gift cards make thoughtful, heartfelt surprises for any occasion.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/wellness-svgrepo-com.svg" alt="icon" width="48" height="48">
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Instant Digital Delivery</h3>
                    <p class="cs-item-text">
                        Send a beautiful AlemSpa gift card straight to their inbox. It’s effortless, fast, and perfect for last-minute gifting.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

{% include 'sections/cta.html' %}
{% endblock %}
